
.header {
    background-color: #ac1a1a;
}
/* inicio navbar*/

.logo {
    width: 70%;
    padding: 5px;
}
div.navbar {
    justify-content:center;
}


div.navbar nav a {
    color: rgb(255, 255, 255);
    font-size: 120%;
}
/* Fim navbar*/

/* Inicio home */

/* Inicio parte inicial */
.pagina-inicial{
    background-color: whitesmoke;
}
.pagina-inicial .texto-inicial{
    text-align: center;
}
.pagina-inicial .texto-inicial h1{
    margin: 50px;
    font-size: 50px;
}
.pagina-inicial .texto-inicial div.col-12 img.example{
    width: 75%;
    margin: 25px;
}
/* Fim parte inicial */

/* Inicio Texto sobre cadastro */
.pagina-inicial .pagina-inicial-cadastro div.col-12 button{
    margin: 35px;
    background-color: #ac1a1a;
    border-color: black;
    width: 40%;
}
.pagina-inicial .pagina-inicial-cadastro{
    margin: 30px;
    text-align: center;
}
.pagina-inicial .pagina-inicial-cadastro h1{
    font-size: 300%;
    text-align: center;
    margin: 10px;
}
.pagina-inicial .pagina-inicial-cadastro h2{
    font-size:25px;
    text-align: center;
    margin: 15px;
}
.pagina-inicial .pagina-inicial-cadastro div.col-12 button a {
    color: rgb(255, 255, 255);
}
/* Fim Texto sobre cadastro */

/* Inicio Texto sobre Funcionalidades */
.pagina-inicial .funcionalidades{
    width: 100%;
    margin-bottom: 30px;
}
.pagina-inicial .funcionalidades h1{
    font-size: 300%;
    text-align: center;
    margin: 10px;
}
.pagina-inicial .funcionalidades .funcoes{
    display: flex;
    justify-content:center;
    align-items: center;
}
.pagina-inicial .funcionalidades h2{
    font-size:25px;
}
.pagina-inicial .funcionalidades i{
    font-size: 150%;
    margin-right: 20px;
}
.pagina-inicial .funcionalidades .funcoes{
    margin-top: 25px;
    padding: 15px;
    padding-left: 30px;
}
/* Fim Texto sobre Funcionalidades */

/* Inicio Texto sobre Objetivo */
.pagina-inicial .objetivo{
    margin-bottom: 25px;
}
.pagina-inicial .objetivo h1{
    margin: 20px;
    font-size: 300%;
    text-align: center;
}
.pagina-inicial .objetivo h2{
    margin: 10px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}
/* Fim Texto sobre Objetivo */
/* Fim home */

/* Inicio Rodapé */
.footer{
    background-color: #ac1a1a;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* Fim Rodapé */
