.header {
    background-color: #ac1a1a;
}

/* inicio navbar*/

.logo {
    width: 70%;
    padding: 5px;
}

div.navbar {
    justify-content: center;
}

div.navbar nav a {
    color: rgb(255, 255, 255);
    font-size: 120%;
}

/* Fim navbar*/

/* Corpo */

body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

}

h1{
    text-align: center;
    padding-bottom: 15px;
}

/* Inicio home */

/* Inicio parte inicial */
.pagina-inicial{
    background-color: whitesmoke;
}
.pagina-inicial .texto-inicial{
    text-align: center;
}
.pagina-inicial .texto-inicial h1{
    margin: 50px;
    font-size: 50px;
}
.pagina-inicial .texto-inicial div.col-12 img.example{
    width: 50%;
    margin: 25px;
}
/* Fim parte inicial */


/* Inicio Botão */

.pagina-inicial .texto-inicial div.col-12 button{
    margin: 35px;
    background-color: #ac1a1a;
    border-color: black;
    width: 40%;
}
.pagina-inicial .texto-inicial div.col-12 button a{
    color: white;
}

/* Final Botão */



/* Inicio Rodapé */
.footer {
    background-color: #ac1a1a;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* Fim Rodapé */
